 h1,h2,h3{
            color : purple;
            font-family:Arial, Helvetica, sans-serif;
            border-style: double; /*This gives us the border that we want to display arount text*/
        }